
<main>
  <%- include('layout/Header') %>
  <%- include('layout/Navbar') %>

    <article>
      <section class="hero text-center" aria-label="home" id="home">

        <ul class="hero-slider" data-hero-slider>

          <li class="slider-item active" data-hero-slider-item>

            <div class="slider-bg">
              <img src="images/hero-slider-1.jpg" width="1880" height="950" alt="" class="img-cover">
            </div>

            <p class="label-2 section-subtitle slider-reveal">Traditional & Hygine</p>

            <h1 class="display-1 hero-title slider-reveal">
              For the love of <br>
              delicious food
            </h1>

            <p class="body-2 hero-text slider-reveal">
              Come with family & feel the joy of mouthwatering food
            </p>

            <a href="#" class="btn btn-primary slider-reveal">
              <span class="text text-1">View Our Menu</span>

              <span class="text text-2" aria-hidden="true">View Our Menu</span>
            </a>

          </li>

          <li class="slider-item" data-hero-slider-item>

            <div class="slider-bg">
              <img src="/images/hero-slider-2.jpg" width="1880" height="950" alt="" class="img-cover">
            </div>

            <p class="label-2 section-subtitle slider-reveal">delightful experience</p>

            <h1 class="display-1 hero-title slider-reveal">
              Flavors Inspired by <br>
              the Seasons
            </h1>

            <p class="body-2 hero-text slider-reveal">
              Come with family & feel the joy of mouthwatering food
            </p>

            <a href="#" class="btn btn-primary slider-reveal">
              <span class="text text-1">View Our Menu</span>

              <span class="text text-2" aria-hidden="true">View Our Menu</span>
            </a>

          </li>

          <li class="slider-item" data-hero-slider-item>

            <div class="slider-bg">
              <img src="/images/hero-slider-3.jpg" width="1880" height="950" alt="" class="img-cover">
            </div>

            <p class="label-2 section-subtitle slider-reveal">amazing & delicious</p>

            <h1 class="display-1 hero-title slider-reveal">
              Where every flavor <br>
              tells a story
            </h1>

            <p class="body-2 hero-text slider-reveal">
              Come with family & feel the joy of mouthwatering food
            </p>

            <a href="#" class="btn btn-primary slider-reveal">
              <span class="text text-1">View Our Menu</span>

              <span class="text text-2" aria-hidden="true">View Our Menu</span>
            </a>

          </li>

        </ul>

        <button class="slider-btn prev" aria-label="slide to previous" data-prev-btn>
          <ion-icon name="chevron-back"></ion-icon>
        </button>

        <button class="slider-btn next" aria-label="slide to next" data-next-btn>
          <ion-icon name="chevron-forward"></ion-icon>
        </button>

        <a href="#" class="hero-btn has-after">
          <img src="/images/hero-icon.png" width="48" height="48" alt="booking icon">

          <span class="label-2 text-center span">Book A Table</span>
        </a>

      </section>





      <!-- 
        - #SERVICE
      -->

      <section class="section service bg-black-10 text-center" aria-label="service">
        <div class="container">

          <p class="section-subtitle label-2">Flavors For Royalty</p>

          <h2 class="headline-1 section-title">We Offer Top Notch</h2>

          <p class="section-text">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry lorem Ipsum has been the industrys
            standard dummy text ever.
          </p>

          <ul class="grid-list">

            <li>
              <div class="service-card">

                <a href="#" class="has-before hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="/images/service-1.jpg" width="285" height="336" loading="lazy" alt="Breakfast"
                      class="img-cover">
                  </figure>
                </a>

                <div class="card-content">

                  <h3 class="title-4 card-title">
                    <a href="#">Breakfast</a>
                  </h3>

                  <a href="#" class="btn-text hover-underline label-2">View Menu</a>

                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <a href="#" class="has-before hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="/images/service-2.jpg" width="285" height="336" loading="lazy" alt="Appetizers"
                      class="img-cover">
                  </figure>
                </a>

                <div class="card-content">

                  <h3 class="title-4 card-title">
                    <a href="#">Appetizers</a>
                  </h3>

                  <a href="#" class="btn-text hover-underline label-2">View Menu</a>

                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <a href="#" class="has-before hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="/images/service-3.jpg" width="285" height="336" loading="lazy" alt="Drinks"
                      class="img-cover">
                  </figure>
                </a>

                <div class="card-content">

                  <h3 class="title-4 card-title">
                    <a href="#">Drinks</a>
                  </h3>

                  <a href="#" class="btn-text hover-underline label-2">View Menu</a>

                </div>

              </div>
            </li>

          </ul>

          <img src="/images/shape-1.png" width="246" height="412" loading="lazy" alt="shape"
            class="shape shape-1 move-anim">
          <img src="/images/shape-2.png" width="343" height="345" loading="lazy" alt="shape"
            class="shape shape-2 move-anim">

        </div>
      </section>





      <!-- 
        - #ABOUT
      -->

      <section class="section about text-center" aria-labelledby="about-label" id="about">
        <div class="container">

          <div class="about-content">

            <p class="label-2 section-subtitle" id="about-label">Our Story</p>

            <h2 class="headline-1 section-title">Every Fla vor Tells a Story</h2>

            <p class="section-text">
              Lorem Ipsum is simply dummy text of the printingand typesetting industry lorem Ipsum has been the
              industrys standard dummy text ever since the when an unknown printer took a galley of type and scrambled
              it to make a type specimen book It has survived not only five centuries, but also the leap into.
            </p>

            <div class="contact-label">Book Through Call</div>

            <a href="tel:+804001234567" class="body-1 contact-number hover-underline">+80 (400) 123 4567</a>

            <a href="#" class="btn btn-primary">
              <span class="text text-1">Read More</span>

              <span class="text text-2" aria-hidden="true">Read More</span>
            </a>

          </div>

          <figure class="about-banner">

            <img src="/images/about-banner.jpg" width="570" height="570" loading="lazy" alt="about banner"
              class="w-100" data-parallax-item data-parallax-speed="1">

            <div class="abs-img abs-img-1 has-before" data-parallax-item data-parallax-speed="1.75">
              <img src="/images/about-abs-image.jpg" width="285" height="285" loading="lazy" alt=""
                class="w-100">
            </div>

            <div class="abs-img abs-img-2 has-before">
              <img src="/images/badge-2.png" width="133" height="134" loading="lazy" alt="">
            </div>

          </figure>

          <img src="/images/shape-3.png" width="197" height="194" loading="lazy" alt="" class="shape">

        </div>
      </section>





      <!-- 
        - #SPECIAL DISH
      -->

      <section class="special-dish text-center" aria-labelledby="dish-label">

        <div class="special-dish-banner">
          <img src="/images/special-dish-banner.jpg" width="940" height="900" loading="lazy" alt="special dish"
            class="img-cover">
        </div>

        <div class="special-dish-content bg-black-10">
          <div class="container">

            <img src="/images/badge-1.png" width="28" height="41" loading="lazy" alt="badge" class="abs-img">

            <p class="section-subtitle label-2">Special Dish</p>

            <h2 class="headline-1 section-title">Lobster Tortellini</h2>

            <p class="section-text">
              Savor the exquisite flavors of succulent lobster encased in delicate tortellini, creating a culinary masterpiece that tantalizes the taste buds with every bite.
            
            </p>

            <div class="wrapper">
              <del class="del body-3">$40.00</del>

              <span class="span body-1">$20.00</span>
            </div>

            <a href="#" class="btn btn-primary">
              <span class="text text-1">View All Menu</span>

              <span class="text text-2" aria-hidden="true">View All Menu</span>
            </a>

          </div>
        </div>

        <img src="/images/shape-4.png" width="179" height="359" loading="lazy" alt="" class="shape shape-1">

        <img src="/images/shape-9.png" width="351" height="462" loading="lazy" alt="" class="shape shape-2">

      </section>






<!-- 
    - #MENU
  -->

  <section class="section menu" aria-label="menu-label" id="menu" ng-app="myApp" ng-controller="CounterController">
    <div class="container">
  
      <p class="section-subtitle text-center label-2">Special Selection</p>
      
  
      <h2 class="headline-1 section-title text-center">Delicious Menu</h2>
  
      <a href="/add">Add Menu</a>
  
      <% if (message) { %>
        <div class="alert alert-dismissable fade show alert-<%= message.type %>" role="alert">
          <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
          <strong><%= message.message %></strong>
        </div>
      <% } %>
  
      <ul class="grid-list2">
        <% menus.forEach((menu, index) => { %>

      <!-- 
        - #MENU
      -->

      <section class="section menu" aria-label="menu-label" id="menu"  ng-app="myApp" ng-controller="CounterController">
        <div class="container">

          <p class="section-subtitle text-center label-2">Special Selection</p>
          
          <div class=" span title-2" id="Search">
            <i id="searchIcon" class="fa fa-search"></i>
            <input type="text" name="" id="search-item" placeholder="Search Menu..." onkeyup="search()">
            
          </div>

          <h2 class="headline-1 section-title text-center">Delicious Menu</h2>



          <ul class="grid-list" id="product-list">

            <li class="product">
              <div class="menu-card hover:card">

                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="/images/menu-1.png" width="100" height="100" loading="lazy" alt="Greek Salad"
                    class="img-cover">
                </figure>

                <div>

                  <div class="title-wrapper">
                    <h3 class="title-3">
                     Greek Salad
                    </h3>

                    <span class="badge label-1">Seasonal</span>

                    <span id="Price" class="span title-2">$25.50</span>
                  </div>

                  <p class="card-text label-1">
                    Tomatoes, green bell pepper, sliced cucumber onion, olives, and feta cheese.
                  </p>

                  <div class="containerPrice">
                    <div class="total">Amount : {{ counts[0] }}</div>
                    <button class="btn" ng-click="incrementCounter(0)">+</button>
                    <button class="btn" ng-click="decrementCounter(0)">-</button>
                  </div>
                  
                  <div class="error-message" ng-show="errorMessage[0]">{{ errorMessage[0] }}</div>

                </div>

              </div>
            </li>

            <li class="product">
              <div class="menu-card hover:card">

                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="/images/menu-2.png" width="100" height="100" loading="lazy" alt="Lasagne"
                    class="img-cover">
                </figure>

                <div>

                  <div class="title-wrapper">
                    <h3 class="title-3">
                      Lasagne
                    </h3>

                    <span id="Price" class="span title-2">$40.00</span>
                  </div>

                  <p class="card-text label-1">
                    Vegetables, cheeses, ground meats, tomato sauce, seasonings and spices
                  </p>

                  <div class="containerPrice">
                    <div class="total">Amount : {{ counts[1] }}</div>
                    <button class="btn" ng-click="incrementCounter(1)">+</button>
                    <button class="btn" ng-click="decrementCounter(1)">-</button>
                  </div>
                  <div class="error-message" ng-show="errorMessage[1]">{{ errorMessage[1] }}</div>

                </div>

              </div>
            </li>

            <li class="product">
              <div class="menu-card hover:card">

                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="/images/menu-3.png" width="100" height="100" loading="lazy" alt="Butternut Pumpkin"
                    class="img-cover">
                </figure>

                <div>

                  <div class="title-wrapper">
                    <h3 class="title-3">
                     Butternut Pumpkin
                    </h3>

                    <span id="Price" class="span title-2">$10.00</span>
                  </div>

                  <p class="card-text label-1">
                    Typesetting industry lorem Lorem Ipsum is simply dummy text of the priand.
                  </p>

                  <div class="containerPrice">
                    <div class="total">Amount : {{ counts[2] }}</div>
                    <button class="btn" ng-click="incrementCounter(2)">+</button>
                    <button class="btn" ng-click="decrementCounter(2)">-</button>
                  </div>
                  <div class="error-message" ng-show="errorMessage[2]">{{ errorMessage[2] }}</div>

                </div>

              </div>
            </li>

            <li class="product">
              <div class="menu-card hover:card">

                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="/images/menu-4.png" width="100" height="100" loading="lazy" alt="Tokusen Wagyu"
                    class="img-cover">
                </figure>

                <div>

                  <div class="title-wrapper">
                    <h3 class="title-3">
                   Tokusen Wagyu
                    </h3>

                    <span class="badge label-1">New</span>

                    <span id="Price" class="span title-2">$39.00</span>
                  </div>

                  <p class="card-text label-1">
                    Vegetables, cheeses, ground meats, tomato sauce, seasonings and spices.
                  </p>

                  <div class="containerPrice">
                    <div class="total">Amount : {{ counts[3] }}</div>
                    <button class="btn" ng-click="incrementCounter(3)" >+</button>
                    <button class="btn" ng-click="decrementCounter(3)">-</button>
                  </div>
                  <div class="error-message" ng-show="errorMessage[3]">{{ errorMessage[3] }}</div>

                </div>

              </div>
            </li>

            <li class="product">
              <div class="menu-card hover:card">

                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="/images/menu-5.png" width="100" height="100" loading="lazy" alt="Olivas Rellenas"
                    class="img-cover">
                </figure>

                <div>

                  <div class="title-wrapper">
                    <h3 class="title-3">
                     Olivas Rellenas
                    </h3>

                    <span  id="Price" class="span title-2">$25.00</span>
                  </div>

                  <p class="card-text label-1">
                    Avocados with crab meat, red onion, crab salad stuffed red bell pepper and green bell pepper.
                  </p>

                  <div class="containerPrice">
                    <div class="total">Amount : {{ counts[4] }}</div>
                    <button class="btn" ng-click="incrementCounter(4)">+</button>
                    <button class="btn" ng-click="decrementCounter(4)">-</button>
                  </div>
                  <div class="error-message" ng-show="errorMessage[4]">{{ errorMessage[4] }}</div>

                </div>

              </div>
            </li>

            <li class="product">
              <div class="menu-card hover:card">

                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="/images/menu-6.png" width="100" height="100" loading="lazy" alt="Opu Fish"
                    class="img-cover">
                </figure>

                <div>

                  <div class="title-wrapper">
                    <h3 class="title-3">
                      Opu Fish
                    </h3>

                    <span id="Price" class="span title-2">$49.00</span>
                  </div>

                  <p class="card-text label-1">
                    Vegetables, cheeses, ground meats, tomato sauce, seasonings and spices
                  </p>

                  <div class="containerPrice">
                    <div class="total">Amount : {{ counts[5] }}</div>
                    <button class="btn" ng-click="incrementCounter(5)">+</button>
                    <button class="btn" ng-click="decrementCounter(5)">-</button>
                  </div>
                  <div class="error-message" ng-show="errorMessage[5]">{{ errorMessage[5] }}</div>

                </div>

              </div>
            </li>

            <li class="product">
              <div class="menu-card hover:card">
                <figure class="card-banner img-holder" style="--width: 100px; --height: 100px;">
                  <img src="/images/alfredo.jpeg" width="100px" height="100px" loading="lazy" alt="Alfredo"
                    class="img-cover">
                </figure>
                <div>
                  <div class="title-wrapper">
                    <h3 class="title-3">
                   Alfredo
                    </h3>
                    <span id="Price" class="span title-2">$22.00</span>
                  </div>
                  <p class="card-text label-1">
                    Indulge in the creamy richness of Alfredo, a classic pasta dish featuring succulent chicken or shrimp bathed in a velvety Parmesan sauce.
                  </p>

                  <div class="containerPrice">
                    <div class="total">Amount : {{ counts[6] }}</div>
                    <button class="btn" ng-click="incrementCounter(6)">+</button>
                    <button class="btn" ng-click="decrementCounter(6)">-</button>
                  </div>
                  <div class="error-message" ng-show="errorMessage[6]">{{ errorMessage[6] }}</div>

                </div>
              </div>
            </li>

            <li class="product">
              <div class="menu-card hover:card">
                <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
                  <img src="/images/grilled salmon.png" width="100" height="100" loading="lazy" alt="Greek Salad"
                    class="img-cover">
                </figure>
                <div>
                  <div class="title-wrapper">
                    <h3 class="title-3">
                      Grilled Salmon
                    </h3>
                    <span id="Price" class="span title-2">$32.00</span>
                  </div>
                  <p class="card-text label-1">
                    Delight your senses with our Grilled Salmon, expertly seasoned and charred to perfection, offering a tantalizing blend of smoky flavors and delicate flakiness.
                  </p>

                  <div class="containerPrice">
                    <div class="total">Amount : {{ counts[7] }}</div>
                    <button class="btn" ng-click="incrementCounter(7)">+</button>
                    <button class="btn" ng-click="decrementCounter(7)">-</button>
                  </div>
                  <div class="error-message" ng-show="errorMessage[7]">{{ errorMessage[7] }}</div>

                </div>
              </div>
            </li>

          </li>


          <li class="product">
            <div class="menu-card hover:card">
              <figure class="card-bannerr img-holder" style="background-image: url('<%= menu.image %>');">
              </figure>
              
              <div class="menu-info flex-container">
                <div class="title-wrapper2">
                  <h3 class="title-3">

                    <div class="button-group">
                      <a href="/edit/<%= menu._id %>" class="btn3 btn-sm btn-primary" title="Edit"><i class="fas fa-edit"></i></a>
                      <a href="/delete/<%= menu._id %>" class="btn3 btn-sm btn-danger" title="Delete"><i class="fas fa-trash"></i></a>
                    </div>
                    <a href="#" class="card-title"><%= menu.name %></a>
                  </h3>
                  <span class="span title-2">$<%= menu.price %></span>

                   Fish and Chip
                  </h3>
                  <span id="Price" class="span title-2">$35.00</span>

                </div>
                <div class="containerPrice">
                  <div class="total2">Amount : <span id="count<%= index %>" class="count">0</span></div>
                  <button class="btn btn-sm increment" ng-click="incrementCounter(index)" data-index="<%= index %>">+</button>
                  <button class="btn btn-sm decrement" ng-click="decrementCounter(index)" data-index="<%= index %>">-</button>                
                </div>
              </div>
            </div>
          </li>

        <% }); %>
      </ul>
      
      

      <div ng-repeat="menu in menus">
        <div class="total2">Amount: <span id="count{{$index}}" class="count">{{menu.amount}}</span></div>
        <button class="btn increment" ng-click="incrementCounter($index)">+</button>
        <button class="btn decrement" ng-click="decrementCounter($index)">-</button>
      </div>
      
<p class="span title-2" id="total">Total: ${{ updateTotal() | number:2 }}</p>


        </li>

        <li class="product">
          <div class="menu-card hover:card">
            <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
              <img src="/images/beer.avif" width="100" height="100" loading="lazy" alt="Greek Salad"
                class="img-cover">
            </figure>
            <div>
              <div class="title-wrapper">
                <h3 class="title-3">
                Beer
                </h3>
                <span id="Price" class="span title-2">$15.00</span>
              </div>
              <p class="card-text label-1">
                Quench your thirst with the crisp, refreshing taste of an ice-cold beer, perfectly chilled to complement any meal or occasion.
              </p>

              <div class="containerPrice">
                <div class="total">Amount : {{ counts[9] }}</div>
                <button class="btn" ng-click="incrementCounter(9)">+</button>
                <button class="btn" ng-click="decrementCounter(9)">-</button>
              </div>
              <div class="error-message" ng-show="errorMessage[9]">{{ errorMessage[9] }}</div>

            </div>
          </div>
        </li>

      </li>

      <li class="product">
        <div class="menu-card hover:card">
          <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
            <img src="/images/raspberrysmoothie.jpeg" width="100" height="100" loading="lazy" alt="Greek Salad"
              class="img-cover">
          </figure>
          <div>
            <div class="title-wrapper">
              <h3 class="title-3">
              Raspberry Smoothie
              </h3>
              <span id="Price" class="span title-2">$12.00</span>
            </div>
            <p class="card-text label-1">
              Indulge your sweet tooth with our luscious Raspberry Milkshake, a creamy blend of ripe raspberries and velvety milk, topped with a dollop of whipped cream for the ultimate treat.
            </p>

            <div class="containerPrice">
              <div class="total">Amount : {{ counts[10] }}</div>
              <button class="btn" ng-click="incrementCounter(10)">+</button>
              <button class="btn" ng-click="decrementCounter(10)">-</button>
            </div>
            <div class="error-message" ng-show="errorMessage[10]">{{ errorMessage[10] }}</div>

          </div>
        </div>
      </li>

    </li>

    <li class="product">
      <div class="menu-card hover:card">
        <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
          <img src="/images/cocacola.jpeg" width="100" height="100" loading="lazy" alt="Greek Salad"
            class="img-cover">
        </figure>
        <div>
          <div class="title-wrapper">
            <h3 class="title-3">
          Cola
            </h3>
            <span id="Price" class="span title-2">$6.50</span>
          </div>
          <p class="card-text label-1">
            Enjoy the effervescent fizz and bold taste of Coca-Cola, a timeless classic that's perfect for satisfying your craving for something sweet, bubbly, and utterly satisfying.
          </p>

          <div class="containerPrice">
            <div class="total">Amount : {{ counts[11] }}</div>
            <button class="btn" ng-click="incrementCounter(11)">+</button>
            <button class="btn" ng-click="decrementCounter(11)">-</button>
          </div>
          <div class="error-message" ng-show="errorMessage[11]">{{ errorMessage[11] }}</div>

        </div>
      </div>
    </li>

  </li>

  <li class="product">
    <div class="menu-card hover:card">
      <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
        <img src="/images/water.jpg" width="100" height="100" loading="lazy" alt="Greek Salad"
          class="img-cover">
      </figure>
      <div>
        <div class="title-wrapper">
          <h3 class="title-3">
            Water
          </h3>
          <span  id="Price" class="span title-2">$4.00</span>
        </div>
        <p class="card-text label-1">
          Stay hydrated and refreshed with our pure, crystal-clear Water, served ice-cold for a revitalizing and thirst-quenching experience.
        </p>


      


      </div>
    </div>
  </li>

</li>

<li class="product">
  <div class="menu-card hover:card">
    <figure class="card-banner img-holder" style="--width: 100; --height: 100;">
      <img src="/images/orangejuice.jpg" width="100" height="100" loading="lazy" alt="Greek Salad"
        class="img-cover">
    </figure>
    <div>
      <div class="title-wrapper">
        <h3 class="title-3">
          Orange Juice
        </h3>
        <span  id="Price" class="span title-2">$10.00</span>
      </div>
      <p class="card-text label-1">
        Start your day on a bright note with our freshly squeezed Orange Juice, bursting with vibrant citrus flavors and packed with essential vitamins for a refreshing boost.
      </p>

      <div class="containerPrice">
        <div class="total">Amount : {{ counts[13] }}</div>
        <button class="btn" ng-click="incrementCounter(13)">+</button>
        <button class="btn" ng-click="decrementCounter(13)">-</button>
      </div>
      <div class="error-message" ng-show="errorMessage[13]">{{ errorMessage[13] }}</div>


      
      <p class="menu-text text-center">
        During winter daily from <span class="span">7:00 pm</span> to <span class="span">9:00 pm</span>
      </p>
  
      <a href="#" class="btn btn-primary">
        <span class="text text-1">View All Menu</span>
  
        <span class="text text-2" aria-hidden="true">View All Menu</span>
      </a>
  
      <img src="/images/shape-5.png" width="921" height="1036" loading="lazy" alt="shape" class="shape shape-2 move-anim">
      <img src="/images/shape-6.png" width="343" height="345" loading="lazy" alt="shape" class="shape shape-3 move-anim">
  
    </div>

  </section>

  </div>
</li>

          </ul>

          <p class="menu-text text-center">
            Open Daily : <span class="span">8:00 am</span> to <span class="span">10:00 pm</span>
          </p>



  




    <!-- Testimony -->

    </section>

    <section class="section testi text-center has-bg-image"
      style="background-image: url('/images/testimonial-bg.jpg')" aria-label="testimonials">
      <div class="container">

        <div class="quote">”</div>

        <p class="headline-2 testi-text">
          I wanted to thank you for inviting me down for that amazing dinner the other night. The food was
          extraordinary.
        </p>

        <div class="wrapper">
          <div class="separator"></div>
          <div class="separator"></div>
          <div class="separator"></div>
        </div>

        <div class="profile">
          <img src="/images/testi-avatar.jpg" width="100" height="100" loading="lazy" alt="Sam Jhonson"
            class="img">

          <p class="label-2 profile-name">Sam Jhonson</p>
        </div>

      </div>
    </section>


      <!-- 
        - #RESERVATION
      -->

      <section class="reservation">
        <div class="container">

          <div class="form reservation-form bg-black-10">

            <form action="" class="form-left">

              <h2 class="headline-1 text-center">Online Reservation</h2>

              <p class="form-text text-center">
                Booking request <a href="tel:+88123123456" class="link">+88-123-123456</a>
                or fill out the order form
              </p>

              <div class="input-wrapper">
                <input type="text" name="name" placeholder="Your Name" autocomplete="off" class="input-field">

                <input type="tel" name="phone" placeholder="Phone Number" autocomplete="off" class="input-field">
              </div>

              <div class="input-wrapper">

                <div class="icon-wrapper">
                  <ion-icon name="person-outline" aria-hidden="true"></ion-icon>

                  <select name="person" class="input-field">
                    <option value="1-person">1 Person</option>
                    <option value="2-person">2 Person</option>
                    <option value="3-person">3 Person</option>
                    <option value="4-person">4 Person</option>
                    <option value="5-person">5 Person</option>
                    <option value="6-person">6 Person</option>
                    <option value="7-person">7 Person</option>
                  </select>

                  <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                </div>

                <div class="icon-wrapper">
                  <ion-icon name="calendar-clear-outline" aria-hidden="true"></ion-icon>

                  <input type="date" name="reservation-date" class="input-field">

                  <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                </div>

                <div class="icon-wrapper">
                  <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

                  <select name="person" class="input-field">
                    <option value="08:00am">08 : 00 am</option>
                    <option value="09:00am">09 : 00 am</option>
                    <option value="010:00am">10 : 00 am</option>
                    <option value="011:00am">11 : 00 am</option>
                    <option value="012:00am">12 : 00 am</option>
                    <option value="01:00pm">01 : 00 pm</option>
                    <option value="02:00pm">02 : 00 pm</option>
                    <option value="03:00pm">03 : 00 pm</option>
                    <option value="04:00pm">04 : 00 pm</option>
                    <option value="05:00pm">05 : 00 pm</option>
                    <option value="06:00pm">06 : 00 pm</option>
                    <option value="07:00pm">07 : 00 pm</option>
                    <option value="08:00pm">08 : 00 pm</option>
                    <option value="09:00pm">09 : 00 pm</option>
                    <option value="10:00pm">10 : 00 pm</option>
                  </select>

                  <ion-icon name="chevron-down" aria-hidden="true"></ion-icon>
                </div>

              </div>

              <textarea name="message" placeholder="Message" autocomplete="off" class="input-field"></textarea>

              <button type="submit" class="btn btn-secondary">
                <span class="text text-1">Book A Table</span>

                <span class="text text-2" aria-hidden="true">Book A Table</span>
              </button>

            </form>

            <div class="form-right text-center" style="background-image: url('/images/form-pattern.png')">

              <h2 class="headline-1 text-center">Contact Us</h2>

              <p class="contact-label">Booking Request</p>

              <a href="tel:+88123123456" class="body-1 contact-number hover-underline">+88-123-123456</a>

              <div class="separator"></div>

              <p class="contact-label">Location</p>

              <address class="body-4">
                Restaurant St, Delicious City, <br>
                London 9578, UK
              </address>

              <p class="contact-label">Lunch Time</p>

              <p class="body-4">
                Monday to Sunday <br>
                11.00 am - 2.30pm
              </p>

              <p class="contact-label">Dinner Time</p>

              <p class="body-4">
                Monday to Sunday <br>
                05.00 pm - 10.00pm
              </p>

            </div>

          </div>

        </div>
      </section>





      <!-- 
        - #FEATURES
      -->

      <section class="section features text-center" aria-label="features">
        <div class="container">

          <p class="section-subtitle label-2">Why Choose Us</p>

          <h2 class="headline-1 section-title">Our Strength</h2>

          <ul class="grid-list">

            <li class="feature-item">
              <div class="feature-card">

                <div class="card-icon">
                  <img src="/images/features-icon-1.png" width="100" height="80" loading="lazy" alt="icon">
                </div>

                <h3 class="title-2 card-title">Hygienic Food</h3>

                <p class="label-1 card-text">Lorem Ipsum is simply dummy printing and typesetting.</p>

              </div>
            </li>

            <li class="feature-item">
              <div class="feature-card">

                <div class="card-icon">
                  <img src="/images/features-icon-2.png" width="100" height="80" loading="lazy" alt="icon">
                </div>

                <h3 class="title-2 card-title">Fresh Environment</h3>

                <p class="label-1 card-text">Lorem Ipsum is simply dummy printing and typesetting.</p>

              </div>
            </li>

            <li class="feature-item">
              <div class="feature-card">

                <div class="card-icon">
                  <img src="/images/features-icon-3.png" width="100" height="80" loading="lazy" alt="icon">
                </div>

                <h3 class="title-2 card-title">Skilled Chefs</h3>

                <p class="label-1 card-text">Lorem Ipsum is simply dummy printing and typesetting.</p>

              </div>
            </li>

            <li class="feature-item">
              <div class="feature-card">

                <div class="card-icon">
                  <img src="/images/features-icon-4.png" width="100" height="80" loading="lazy" alt="icon">
                </div>

                <h3 class="title-2 card-title">Event & Party</h3>

                <p class="label-1 card-text">Lorem Ipsum is simply dummy printing and typesetting.</p>

              </div>
            </li>

          </ul>

          <img src="/images/shape-7.png" width="208" height="178" loading="lazy" alt="shape"
            class="shape shape-1">

          <img src="/images/shape-8.png" width="120" height="115" loading="lazy" alt="shape"
            class="shape shape-2">

        </div>
      </section>





      <!-- 
        - #EVENT
      -->

      <section class="section event bg-black-10" aria-label="event">
        <div class="container">

          <p class="section-subtitle label-2 text-center">Recent Updates</p>

          <h2 class="section-title headline-1 text-center">Upcoming Event</h2>

          <ul class="grid-list">

            <li>
              <div class="event-card has-before hover:shine">

                <div class="card-banner img-holder" style="--width: 350; --height: 450;">
                  <img src="/images/event-1.jpg" width="350" height="450" loading="lazy"
                    alt="Flavour so good you’ll try to eat with your eyes." class="img-cover">

                  <time class="publish-date label-2" datetime="2022-09-15">15/09/2022</time>
                </div>

                <div class="card-content">
                  <p class="card-subtitle label-2 text-center">Food, Flavour</p>

                  <h3 class="card-title title-2 text-center">
                    Flavour so good you’ll try to eat with your eyes.
                  </h3>
                </div>

              </div>
            </li>

            <li>
              <div class="event-card has-before hover:shine">

                <div class="card-banner img-holder" style="--width: 350; --height: 450;">
                  <img src="/images/event-2.jpg" width="350" height="450" loading="lazy"
                    alt="Flavour so good you’ll try to eat with your eyes." class="img-cover">

                  <time class="publish-date label-2" datetime="2022-09-08">08/09/2022</time>
                </div>

                <div class="card-content">
                  <p class="card-subtitle label-2 text-center">Healthy Food</p>

                  <h3 class="card-title title-2 text-center">
                    Flavour so good you’ll try to eat with your eyes.
                  </h3>
                </div>

              </div>
            </li>

            <li>
              <div class="event-card has-before hover:shine">

                <div class="card-banner img-holder" style="--width: 350; --height: 450;">
                  <img src="/images/event-3.jpg" width="350" height="450" loading="lazy"
                    alt="Flavour so good you’ll try to eat with your eyes." class="img-cover">

                  <time class="publish-date label-2" datetime="2022-09-03">03/09/2022</time>
                </div>

                <div class="card-content">
                  <p class="card-subtitle label-2 text-center">Recipie</p>

                  <h3 class="card-title title-2 text-center">
                    Flavour so good you’ll try to eat with your eyes.
                  </h3>
                </div>

              </div>
            </li>

          </ul>

          <a href="#" class="btn btn-primary">
            <span class="text text-1">View Our Blog</span>

            <span class="text text-2" aria-hidden="true">View Our Blog</span>
          </a>

        </div>
      </section>

    </article>
    <%- include('layout/Footer') %>
  </main>
  <a href="#top" class="back-top-btn active" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>
  <script src="script.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script> 
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  <script>
angular.module('myApp', [])
.controller('CounterController', ['$scope', function($scope) {
  $scope.counts = [0, 0, 0, 0, 0, 0,0,0, 0, 0, 0, 0, 0,0]; // Array untuk menyimpan jumlah masing-masing item
  $scope.errorMessage = ["", "", "", "", "", "", "", "", "", "", "", "", "", ""]; // Array untuk menyimpan pesan kesalahan masing-masing item
  $scope.Harga = [25.50, 40.00, 10.00, 39.00, 25.00, 49.00,22.00,32.00,35.00,15.00,12.00,6.50,4.00,10.00]; // Harga masing-masing item


    $scope.incrementCounter = function(itemIndex) {
    if ($scope.counts[itemIndex] < 20) {
        $scope.counts[itemIndex]++;
        $scope.errorMessage[itemIndex] = "";
    } else {
        $scope.errorMessage[itemIndex] = "Pemesanan tidak bisa di atas 20";
    }
};

$scope.decrementCounter = function(itemIndex) {
    if ($scope.counts[itemIndex] > 0) {
        $scope.counts[itemIndex]--;
        $scope.errorMessage[itemIndex] = "";
    } else {
        $scope.errorMessage[itemIndex] = "Pemesanan tidak bisa di bawah 0";
    }
};

$scope.totalHargaItem = function(itemIndex) {
    return $scope.Harga[itemIndex] * $scope.counts[itemIndex];
};

$scope.totalHargaSemua = function() {
    var total = 0;
    for (var i = 0; i < $scope.counts.length; i++) {
        total += $scope.totalHargaItem(i);
    }
    return total;
};
}]);
  </script>
  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="css/style.css">