<main>
  <%- include('layout/Header') %>
  <%- include('layout/Navbar') %>

    <article>

     

      <section class="hero text-center" aria-label="home" id="home">
        <ul class="hero-slider" data-hero-slider>

          <li class="slider-item active" data-hero-slider-item>
            
            <div class="slider-bg">
              <img src="/images/sushi.jpg" width="1880" height="950" alt="" class="img-cover">
            </div>
            <p class="label-2 section-subtitle slider-reveal">Welcome <%= user.name %></p>
            <p class="label-2 section-subtitle slider-reveal">Traditional & Hygine</p>

            <h1 class="display-1 hero-title slider-reveal">
              For the love of <br>
              delicious food
            </h1>

          <p class="body-2 hero-text slider-reveal">
              Come with family & feel the joy of mouthwatering food
            </p>

            <a href="#" class="btn btn-primary slider-reveal">
              <span class="text text-1">View Our Menu</span>

              <span class="text text-2" aria-hidden="true">View Our Menu</span>
            </a>

          </li>

          <li class="slider-item" data-hero-slider-item>
           
            <div class="slider-bg">
              <img src="/images/burger.jpg" width="1880" height="950" alt="" class="img-cover">
            </div>
            <p class="label-2 section-subtitle slider-reveal">Welcome <%= user.name %></p>
            <p class="label-2 section-subtitle slider-reveal">delightful experience</p>

            <h1 class="display-1 hero-title slider-reveal">
              Flavors Inspired by <br>
              the Seasons
            </h1>

            <p class="body-2 hero-text slider-reveal">
              Come with family & feel the joy of mouthwatering food
            </p>

            <a href="#" class="btn btn-primary slider-reveal">
              <span class="text text-1">View Our Menu</span>

              <span class="text text-2" aria-hidden="true">View Our Menu</span>
            </a>

          </li>

          <li class="slider-item" data-hero-slider-item>

            <div class="slider-bg">
              <img src="/images/fishAndChip-bg.jpg" width="1880" height="950" alt="" class="img-cover">
            </div>
            <p class="label-2 section-subtitle slider-reveal">Welcome <%= user.name %></p>
            <p class="label-2 section-subtitle slider-reveal">amazing & delicious</p>

            <h1 class="display-1 hero-title slider-reveal">
              Where every flavor <br>
              tells a story
            </h1>

            <p class="body-2 hero-text slider-reveal">
              Come with family & feel the joy of mouthwatering food
            </p>

            <a href="#" class="btn btn-primary slider-reveal">
              <span class="text text-1">View Our Menu</span>

              <span class="text text-2" aria-hidden="true">View Our Menu</span>
            </a>

          </li>

        </ul>

        <button class="slider-btn prev" aria-label="slide to previous" data-prev-btn>
          <ion-icon name="chevron-back"></ion-icon>
        </button>

        <button class="slider-btn next" aria-label="slide to next" data-next-btn>
          <ion-icon name="chevron-forward"></ion-icon>
        </button>

        <a href="/dashboard" class="hero-btn has-after">
          <img src="/images/hero-icon.png" width="48" height="48" alt="booking icon">

          <span class="label-2 text-center span">Change account</span>
        </a>

      </section>




      <!-- 
        - #SERVICE
      -->


    
      <section class="section service bg-black-10 text-center" aria-label="service">
        <div class="container">
          
      <h1 class="prating">Rate the Restaurant</h1>
      <form action="/restaurantRating/<%= user._id %>" method="POST">
          <div class="rating">
              <input type="radio" id="star5" name="rating" value="5">
              <label for="star5">☆</label>
              <input type="radio" id="star4" name="rating" value="4">
              <label for="star4">☆</label>
              <input type="radio" id="star3" name="rating" value="3">
              <label for="star3">☆</label>
              <input type="radio" id="star2" name="rating" value="2">
              <label for="star2">☆</label>
              <input type="radio" id="star1" name="rating" value="1">
              <label for="star1">☆</label>
          </div>
          <button class="prating" type="submit">Submit Rating</button>
      </form>
      <% if (user.restaurantRating) { %>
    <p class="prating">Your Rating: <%= user.restaurantRating %> stars</p>
<% } else { %>
    <p class="prating">You have not rated the restaurant yet.</p>
<% } %>
<% if (averageRating) { %>
  <p class="prating">Restaurant Rating: <%= averageRating.toFixed(1) %> stars</p>
<% } else { %>
  <p class="prating">No ratings yet.</p>
<% } %>
<br>
          <p class="section-subtitle label-2">Flavors For Royalty</p>

          <h2 class="headline-1 section-title">We Offer Top Notch</h2>

          <p class="section-text">
            "Fin and Flavor" is a culinary gem that embodies the essence of coastal dining with its exquisite seafood offerings, creative culinary flair, and commitment to sourcing the freshest ingredients.
           
          </p>

          <ul class="grid-list">

            <li>
              <div class="service-card">

                <a href="#" class="has-before hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="/images/breakfast.jpg" width="285" height="336" loading="lazy" alt="Breakfast"
                      class="img-cover">
                  </figure>
                </a>

                <div class="card-content">

                  <h3 class="title-4 card-title">
                    <a href="#">Breakfast</a>
                  </h3>

                  <a href="#" class="btn-text hover-underline label-2">View Menu</a>

                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <a href="#" class="has-before hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="/images/appetizer.jpg" width="285" height="336" loading="lazy" alt="Appetizers"
                      class="img-cover">
                  </figure>
                </a>

                <div class="card-content">

                  <h3 class="title-4 card-title">
                    <a href="#">Appetizers</a>
                  </h3>

                  <a href="#" class="btn-text hover-underline label-2">View Menu</a>

                </div>

              </div>
            </li>

            <li>
              <div class="service-card">

                <a href="#" class="has-before hover:shine">
                  <figure class="card-banner img-holder" style="--width: 285; --height: 336;">
                    <img src="/images/beer.avif" width="285" height="336" loading="lazy" alt="Drinks"
                      class="img-cover">
                  </figure>
                </a>

                <div class="card-content">

                  <h3 class="title-4 card-title">
                    <a href="#">Drinks</a>
                  </h3>

                  <a href="#" class="btn-text hover-underline label-2">View Menu</a>

                </div>

              </div>
            </li>

          </ul>

          <img src="/images/shape-1.png" width="246" height="412" loading="lazy" alt="shape"
            class="shape shape-1 move-anim">
          <img src="/images/shape-2.png" width="343" height="345" loading="lazy" alt="shape"
            class="shape shape-2 move-anim">

        </div>
      </section>



<!-- MENU -->

<section class="section menu" aria-label="menu-label" id="menu" ng-app="myApp" ng-controller="CounterController">
  <div class="container">

    <p class="section-subtitle text-center label-2">Special Selection</p>


    <h2 class="headline-1 section-title text-center">Delicious Menu</h2>
    <% if (message) { %>
      <div class="alert alert-dismissable fade show alert-<%= message.type %>" role="alert">
        <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
        <strong><%= message.message %></strong>
      </div>
    <% } %>

    <ul class="grid-list2">
      <% menus.forEach((menu, index) => { %>
        <li class="product">
          <div class="menu-card hover:card">
            <figure class="card-bannerr img-holder" style="background-image: url('<%= menu.image %>');">
            </figure>

            <div class="menu-info flex-container">
              <div class="title-wrapper2">
                <h3 class="title-3">
                  <a href="#" class="card-title"><%= menu.name %></a>
                </h3>
                <span class="span title-2">Rp <%= menu.price  %></span>
              </div>
              <div class="containerPrice">
                <div class="total2">Amount : <span id="count<%= index %>" class="count">0</span></div>
                <button class="btn btn-sm increment">+</button>
                <button class="btn btn-sm decrement">-</button>
               
              </div>
              <p><span class="totalAll" id="totalAmount">0</span></p>
            </div>
          </div>
        </li>
      <% }); %>
    </ul>
    <div id="totalPrice" >
    <p class="span title-2">Total  All Price : <span class="totalAll" id="totalAll">0</span></p>
   </div>

    <img src="/images/shape-5.png" width="921" height="1036" loading="lazy" alt="shape" class="shape shape-2 move-anim">
    <img src="/images/shape-6.png" width="343" height="345" loading="lazy" alt="shape" class="shape shape-3 move-anim">

  </div>
</section>

      <!-- 
        - #FEATURES
    -->

      <section class="section features text-center" aria-label="features">
        <div class="container">

          <p class="section-subtitle label-2">Why Choose Us</p>

          <h2 class="headline-1 section-title">Our Strength</h2>

          <ul class="grid-list">

            <li class="feature-item">
              <div class="feature-card">

                <div class="card-icon">
                  <img src="/images/features-icon-1.png" width="100" height="80" loading="lazy" alt="icon">
                </div>

                <h3 class="title-2 card-title">Hygienic Food</h3>

                <p class="label-1 card-text">Restoran kami menawarkan makanan yang higienis, memastikan keamanan dan kesehatan pelanggan kami.</p>

              </div>
            </li>

            <li class="feature-item">
              <div class="feature-card">

                <div class="card-icon">
                  <img src="/images/features-icon-2.png" width="100" height="80" loading="lazy" alt="icon">
                </div>

                <h3 class="title-2 card-title">Fresh Environment</h3>

                <p class="label-1 card-text">Kami menciptakan lingkungan yang segar dan nyaman untuk meningkatkan pengalaman makan pelanggan kami.</p>

              </div>
            </li>

            <li class="feature-item">
              <div class="feature-card">

                <div class="card-icon">
                  <img src="/images/features-icon-3.png" width="100" height="80" loading="lazy" alt="icon">
                </div>

                <h3 class="title-2 card-title">Skilled Chefs</h3>

                <p class="label-1 card-text">Dapur kami diisi dengan chef terampil yang mempersembahkan hidangan lezat dan berkualitas setiap hari.</p>

              </div>
            </li>

            <li class="feature-item">
              <div class="feature-card">

                <div class="card-icon">
                  <img src="/images/features-icon-4.png" width="100" height="80" loading="lazy" alt="icon">
                </div>

                <h3 class="title-2 card-title">Event & Party</h3>

                <p class="label-1 card-text">Kami menyediakan fasilitas lengkap untuk menyelenggarakan berbagai acara dan pesta, memberikan pengalaman tak terlupakan bagi tamu kami.</p>

          </p>
              </div
            </li>

          </ul>

          <img src="/images/shape-7.png" width="208" height="178" loading="lazy" alt="shape"
            class="shape shape-1">

          <img src="/images/shape-8.png" width="120" height="115" loading="lazy" alt="shape"
            class="shape shape-2">

        </div>
      </section>





      <!-- 
        - #EVENT
      -->

      <section class="section event bg-black-10" aria-label="event">
        <div class="container">

          <p class="section-subtitle label-2 text-center">Recent Updates</p>

          <h2 class="section-title headline-1 text-center">Upcoming Event</h2>

          <ul class="grid-list">

            <li>
              <div class="event-card has-before hover:shine">

                <div class="card-banner img-holder" style="--width: 350; --height: 450;">
                  <img src="/images/17agustus.webp" width="350" height="450" loading="lazy"
                    alt="Flavour so good you’ll try to eat with your eyes." class="img-cover">

                  <time class="publish-date label-2" datetime="2022-09-15">17/08/2024</time>
                </div>

                <div class="card-content">
                  <p class="card-subtitle label-2 text-center">Perayaan 17 Agustus</p>

                  <h3 class="card-title title-2 text-center">
                   Spesial menu 17 agustus
                  </h3>
                </div>

              </div>
            </li>

            <li>
              <div class="event-card has-before hover:shine">

                <div class="card-banner img-holder" style="--width: 350; --height: 450;">
                  <img src="/images/christmas.jpg" width="350" height="450" loading="lazy"
                    alt="Flavour so good you’ll try to eat with your eyes." class="img-cover">

                  <time class="publish-date label-2" datetime="2022-09-08">25/12/2024</time>
                </div>

                <div class="card-content">
                  <p class="card-subtitle label-2 text-center">Christmas</p>

                  <h3 class="card-title title-2 text-center">
                    Spesial menu christmas 30% off
                  </h3>
                </div>

              </div>
            </li>

            <li>
              <div class="event-card has-before hover:shine">

                <div class="card-banner img-holder" style="--width: 350; --height: 450;">
                  <img src="/images/newyear.webp" width="350" height="450" loading="lazy"
                    alt="Flavour so good you’ll try to eat with your eyes." class="img-cover">

                  <time class="publish-date label-2" datetime="2022-09-03">31/12/2024</time>
                </div>

                <div class="card-content">
                  <p class="card-subtitle label-2 text-center">New Year</p>

                  <h3 class="card-title title-2 text-center">
                    Promo diskon 90% untuk 10 orang pemenang
                  </h3>
                </div>

              </div>
            </li>

          </ul>

        </div>
      </section>

      <section id="comment" class="section event bg-black-10" aria-label="event">
        <div class="container">
            <form action="/feedback/<%= user._id %>" method="POST">
                <label for="feedback">Add Your Comment:</label><br>
                <textarea id="feedback" name="feedback" rows="4" cols="50" required></textarea><br>
                <button class="btn" type="submit">Submit</button>
            </form>
    
            <% suggestions.forEach(suggestion => { %>
                <div class="comment">
                    <div class="user-info">
                        <img src="<%= suggestion.user.profileImage %>" alt="Profile Image">
                        <span class="usern"><%= suggestion.user.name %></span>
                    </div>
                    <div class="comment-text">
                        <p><%= suggestion.feedback %></p>
                        <p class="waktu_pengiriman"><%= suggestion.waktu_pengiriman %></p>
    
                        <!-- Tombol Edit dan Delete hanya muncul jika user yang login adalah pembuat komentar -->
                        <% if (suggestion.user._id.toString() === user._id.toString()) { %>
                            <form action="/feedback/<%= suggestion._id %>/edit" method="POST" class="editForm" >
                                <div class="form-group">
                                    <label for="editedFeedback">Edit:</label>
                                    <textarea id="editedFeedback" name="editedFeedback" class="form-input"><%= suggestion.feedback %></textarea>
                                </div>
                                <button type="submit" class="btn btn-sm">Save</button>
                            </form>
                            <div class="button-container">
                                <!-- Tombol Delete -->
                                <form action="/feedback/<%= suggestion._id %>/delete" method="POST" style="display: inline-block;">
                                    <button class="btn btn-sm" type="submit">Delete</button>
                                </form>
                            </div>
                        <% } %>
                    </div>
                </div>
            <% }) %>
    
            <% if (!suggestions || suggestions.length === 0) { %>
                <p>No comments available.</p>
            <% } %>
        </div>
    </section>
    
    
    

    </article>
  </main>
  <a href="#top" class="back-top-btn active" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>
 

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script> 
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

  
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <link rel="stylesheet" href="css/customer.css">
  <script src="script.js"></script>
  <script src="search.js"></script>

  <%- include('layout/Footer') %>